# Importing the libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

# Reading the dataset

In [2]:
energy_data_df = pd.read_csv(r'C:\Users\user\Desktop\Tutorials\Hamoye Internship\HSDC FALL 23\Stage B\Lesson 1\archive\energydata_complete.csv')

In [3]:
#Checking the shape of the dataset
energy_data_df.shape

(19735, 29)

In [12]:
#Check the descriptive statistics
energy_data_df.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [13]:
#Checking for null values in the dataset
energy_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

# Question 17: From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the Root Mean Squared error in three D.P?

In [105]:
x = energy_data_df['T2'].values.reshape(-1, 1)
y = energy_data_df['T6']

#fit the linear model
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()
LinearRegression()

#Fit the model to the Training set
linear_model.fit(x, y)

#Obtain Predictions
y_pred = linear_model.predict(x)

#Calculate the RMSE in 3 dec places
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y, y_pred))
round(rmse, 3)

3.644

# Question 18: Remove the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a  random state of 42 (for reproducibility). Normalize the dataset using the MinMaxScaler (Hint: Use the MinMaxScaler fit_transform and transform methods on the train and test set respectively). Run a multiple linear regression using the training set. Answer the following questions: What is the Mean Absolute Error (in three decimal places) for the  training set?

In [108]:
energy_data_df_new = energy_data_df.drop(columns = ['date', 'lights'])
Y_df = energy_data_df['Appliances']

X_df = energy_data_df_new.drop(["Appliances"], axis = 1)

print("Shape of Feature Variable DF: {}".format(X_df.shape))
print("Shape of Response Variable DF: {}".format(Y_df.shape))

#Split the dataset into Train and Test Sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_df, Y_df, test_size = 0.3, random_state = 42)

#convert to numpy array before applying reshape()
X_train_array = np.array(X_train) 
y_train_array = np.array(y_train)
X_test_array = np.array(X_test)
y_test_array = np.array(y_test)

#Apply the reshape function
xtrain = X_train_array.reshape(-1,1)
xtest = X_test_array.reshape(-1,1)
ytest = y_test_array.reshape(-1, 1)

#Normalize the dataset using the MinMaxScaler 
#(Hint: Use the MinMaxScaler fit_transform and transform methods on the train and test set respectively)
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
x_train = scaler.fit_transform(xtrain)
y_train = scaler.fit_transform(ytrain)
x_test = scaler.transform(xtest)
y_test = scaler.transform(ytest)

#Shape of the Train and Test Datasets
print("x_train shape: {}".format(x_train.shape))
print("x_test shape: {}".format(x_test.shape))
print("y_train shape: {}".format(y_train.shape))
print("y_test shape: {}".format(y_test.shape))

#Trimming x_train to fit the model
x_train1 = x_train[:13814, :]
print("x_train1 shape: {}".format(x_train1.shape))

#Create a Linear Model
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()
linear_model.fit(x_train1, y_train)

#make predictions based on the Linear Model 
y_pred = linear_model.predict(x_test)

print("y_pred shape: {}".format(y_pred.shape))

#Trimming y_pred
y_pred1 = y_pred[:13814, :]

print("y_pred1.shape: {}".format(y_pred1.shape))

Shape of Feature Variable DF: (19735, 26)
Shape of Response Variable DF: (19735,)
x_train shape: (359164, 1)
x_test shape: (153946, 1)
y_train shape: (13814, 1)
y_test shape: (5921, 1)
x_train1 shape: (13814, 1)
y_pred shape: (153946, 1)
y_pred1.shape: (13814, 1)

In [67]:
#Question 18: MAE for Training dataset: y_train vs y-pred
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_train, y_pred1)
print(round(mae, 3))

0.057

In [68]:
#Question 19: RSS for Training dataset
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_train, y_pred1))
print(round(rmse, 3))

0.096

In [70]:
y_pred2 = y_pred[:5921, :]

In [71]:
y_pred2.shape

(5921, 1)

In [72]:
#Question 20: MAE for Test dataset: y_test vs y-pred
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, y_pred2)
print(round(mae, 3))

0.057

In [73]:
#Question 21: RSS for Test dataset
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, y_pred2))
print(round(rmse, 3))

0.095

In [75]:
#Question 22: Did the Model above overfit to the training set 
#Answer: No. The RMSE for the Training set is slightly higher than RMSE for the  test set

In [103]:
#Question 23: Train a ridge regression model with default parameters. 
#Is there any change to the root mean squared error (RMSE) when evaluated on the test set?
#Answer: No
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha = 0.5)
df_ridge = ridge_reg.fit(x_train, y_train)
df_ridge

y_ridge_pred = df_ridge.predict(x_test)

y_ridge_pred.shape

y_ridge_pred1 = y_ridge_pred[:5921, :]

y_ridge_pred1.shape

rmse_ridge = np.sqrt(mean_squared_error(y_test, y_ridge_pred1))
print(round(rmse, 3))

0.095

In [113]:
x_train1 = x_train[:13814, :]

In [114]:
x_train1.shape

(13814, 1)

In [115]:
#Question 24: Train a lasso regression model with default value and obtain the new feature weights with it. 
#How many of the features have non-zero feature weights?

#Training the L1 Model
from sklearn.linear_model import Lasso
Lasso_reg = Lasso(alpha = 0.001)
Lasso_reg.fit(x_train1, y_train)

Lasso(alpha=0.001)